@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
    --bg: hsl(0 0% 5%);
    --white: hsl(0 0% 98%);
    --accent: hsl(0 0% 10%);
    --highlight: #03dac6;
}

body {
    width: 100vw;
    height: calc(100vh - var(--swiper-navigation-size));
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrapper {
    width: 100vw;
    height: calc(100vh - var(--swiper-navigation-size));
    margin-top: var(--swiper-navigation-size);
}

.swiper {
    width: 100%;
    height: 100%;
}

/* Pagination */
#custom-pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0 0.5rem;
    box-sizing: border-box;
    overflow-x: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 0 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background: var(--bg);
}

#custom-pagination .swiper-pagination-bullet {
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    background: transparent;
    color: var(--white);
    padding: 1.5rem 1rem;
    margin: 0;
}

#custom-pagination .swiper-pagination-bullet::before {
    content: none;
}

.swiper-slide {
    text-align: center;
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
}

.swiper-slide .swiper-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    backdrop-filter: blur(0.5px);
}

.swiper-slide h1 {
    color: white;
    font-size: clamp(2rem, 6vw + 1rem, 10rem);
    z-index: 3;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 80%;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    mix-blend-mode: difference;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 40px;
}

.swiper-button-prev {
    left: 40px;
}

.swiper-button-next {
    right: 40px;
}